USE [master]
GO
/****** Object:  Database [QLKS_NEW]    Script Date: 7/22/2020 11:27:35 AM ******/
CREATE DATABASE [QLKS_NEW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKS_NEW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLKS_NEW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKS_NEW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLKS_NEW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS_NEW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS_NEW]
GO
/****** Object:  Table [dbo].[TB_LOAIKHACHHANG]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_LOAIKHACHHANG](
	[MALK] [varchar](5) NOT NULL,
	[TENLK] [varchar](50) NULL,
	[MOTA] [varchar](100) NULL,
 CONSTRAINT [PK_TB_LOAIKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MALK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CTDV]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CTDV](
	[MADDP] [varchar](5) NOT NULL,
	[MADV] [varchar](5) NULL,
 CONSTRAINT [PK_TBL_CTDV_1] PRIMARY KEY CLUSTERED 
(
	[MADDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DICHVU]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DICHVU](
	[MADV] [varchar](5) NOT NULL,
	[TENDV] [nvarchar](20) NULL,
	[GIADV] [varchar](20) NULL,
 CONSTRAINT [PK__TBL_DICH__603F0055A998885F] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DONDATPHONG]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DONDATPHONG](
	[MADDP] [varchar](5) NOT NULL,
	[MAKH] [varchar](5) NULL,
	[MANV] [varchar](5) NULL,
	[SOPHONG] [varchar](5) NULL,
	[NGAYNHANPHONG] [smalldatetime] NULL,
	[NGAYDI] [smalldatetime] NULL,
	[SONGUOI] [varchar](2) NULL,
	[TRATRUOC] [varchar](20) NULL,
	[TRANGTHAI] [varchar](20) NULL,
 CONSTRAINT [PK_TBL_DONDATPHONG] PRIMARY KEY CLUSTERED 
(
	[MADDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_HOADON]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HOADON](
	[MAHD] [varchar](5) NOT NULL,
	[MANV] [varchar](5) NULL,
	[MADDP] [varchar](5) NULL,
	[THANHTIEN] [varchar](20) NULL,
	[TRANGTHAITHANHTOAN] [varchar](20) NULL,
 CONSTRAINT [PK__TBL_HOAD__603F20CE6E1B2EC6] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KHACHHANG]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KHACHHANG](
	[MAKH] [varchar](5) NOT NULL,
	[MALK] [varchar](5) NULL,
	[TENKH] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[QUOCTICH] [varchar](20) NULL,
	[CMND] [varchar](15) NULL,
	[SDT] [varchar](15) NULL,
 CONSTRAINT [PK__TBL_KHAC__603F592CED076C5E] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LOAINHANVIEN]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LOAINHANVIEN](
	[MALNV] [varchar](4) NOT NULL,
	[TENLNV] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LOAIPHONG]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LOAIPHONG](
	[MALP] [varchar](5) NOT NULL,
	[TENLP] [nvarchar](20) NULL,
	[TRANGTHIETBI] [nvarchar](100) NULL,
	[GIA] [varchar](20) NULL,
 CONSTRAINT [PK__TBL_LOAI__603F415577846BE5] PRIMARY KEY CLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NHANVIEN]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NHANVIEN](
	[MANV] [varchar](5) NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[MALNV] [varchar](4) NULL,
	[NGSINH] [smalldatetime] NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[SDT] [char](15) NULL,
	[DIACHI] [nvarchar](30) NULL,
 CONSTRAINT [PK__TBL_NHAN__603F511488F225DF] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PHONG]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PHONG](
	[SOPHONG] [varchar](5) NOT NULL,
	[TINHTRANG] [nvarchar](15) NULL,
	[MALP] [varchar](5) NULL,
 CONSTRAINT [PK__TBL_PHON__4D288ADF6A2DF327] PRIMARY KEY CLUSTERED 
(
	[SOPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TAIKHOAN]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TAIKHOAN](
	[TAIKHOAN] [varchar](20) NOT NULL,
	[MANV] [varchar](5) NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
	[CHUCVU] [int] NOT NULL,
 CONSTRAINT [PK__TBL_TAIK__8C5E61058456D005] PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_THAMSO]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_THAMSO](
	[SONGUOITOIDA] [varchar](5) NULL,
	[PHUTHU] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_THONGTINKS]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_THONGTINKS](
	[MAKS] [nchar](10) NOT NULL,
	[TENKS] [nvarchar](50) NULL,
	[DIACHIKS] [nvarchar](100) NULL,
	[EMAILKS] [nchar](59) NULL,
	[SDTKS] [nchar](15) NULL,
	[WEBSITEKS] [nchar](50) NULL,
 CONSTRAINT [PK_TBL_THONGTINKS] PRIMARY KEY CLUSTERED 
(
	[MAKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (N'DV01', N'An', N'200000.00')
INSERT [dbo].[TBL_DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (N'DV02', N'Bar', N'500000.00')
INSERT [dbo].[TBL_KHACHHANG] ([MAKH], [MALK], [TENKH], [DIACHI], [GIOITINH], [NGAYSINH], [QUOCTICH], [CMND], [SDT]) VALUES (N'KH001', NULL, N'LKT', N'DAU CUNG DC', N'NU', NULL, NULL, N'CMND         ', N'SO GI CUNG DC  ')
INSERT [dbo].[TBL_KHACHHANG] ([MAKH], [MALK], [TENKH], [DIACHI], [GIOITINH], [NGAYSINH], [QUOCTICH], [CMND], [SDT]) VALUES (N'KH002', NULL, N'NTC', N'DAU CUNG DC', N'NAM', NULL, NULL, N'CMND         ', N'SO GI CUNG DC  ')
INSERT [dbo].[TBL_KHACHHANG] ([MAKH], [MALK], [TENKH], [DIACHI], [GIOITINH], [NGAYSINH], [QUOCTICH], [CMND], [SDT]) VALUES (N'KH003', NULL, N'HKT', N'DAU CUNG DC', N'NU', NULL, NULL, N'CMND         ', N'SO GI CUNG DC  ')
INSERT [dbo].[TBL_LOAINHANVIEN] ([MALNV], [TENLNV]) VALUES (N'L01', N'Quan ly')
INSERT [dbo].[TBL_LOAINHANVIEN] ([MALNV], [TENLNV]) VALUES (N'L02', N'Nhan vien tiep tan')
INSERT [dbo].[TBL_LOAINHANVIEN] ([MALNV], [TENLNV]) VALUES (N'L03', N'Nhan vien ve sinh')
INSERT [dbo].[TBL_LOAIPHONG] ([MALP], [TENLP], [TRANGTHIETBI], [GIA]) VALUES (N'LP01', N'PHONG DON', N'1 GIUONG DON', NULL)
INSERT [dbo].[TBL_LOAIPHONG] ([MALP], [TENLP], [TRANGTHIETBI], [GIA]) VALUES (N'LP02', N'PHONG DOI', N'2 GIUONG DON', NULL)
INSERT [dbo].[TBL_LOAIPHONG] ([MALP], [TENLP], [TRANGTHIETBI], [GIA]) VALUES (N'LP03', N'PHONG VIP DON', N'1 GIUONG DOI', NULL)
INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNV], [MALNV], [NGSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (N'NV01', N'NTN', N'L01', CAST(N'2000-12-19T00:00:00' AS SmallDateTime), N'NAM', N'0919002541     ', N'DAU CUNG DC')
INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNV], [MALNV], [NGSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (N'NV02', N'NVN', N'L02', CAST(N'2000-01-19T00:00:00' AS SmallDateTime), N'NU', N'0919123441     ', N'DAU CUNG DC')
INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNV], [MALNV], [NGSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (N'NV03', N'TDB', N'L02', CAST(N'1999-12-01T00:00:00' AS SmallDateTime), N'NAM', N'0929005541     ', N'DAU CUNG DC')
INSERT [dbo].[TBL_PHONG] ([SOPHONG], [TINHTRANG], [MALP]) VALUES (N'P001', N'EMPTY', N'LP01')
INSERT [dbo].[TBL_PHONG] ([SOPHONG], [TINHTRANG], [MALP]) VALUES (N'P002', N'EMPTY', N'LP01')
INSERT [dbo].[TBL_PHONG] ([SOPHONG], [TINHTRANG], [MALP]) VALUES (N'P003', N'USED', N'LP02')
INSERT [dbo].[TBL_TAIKHOAN] ([TAIKHOAN], [MANV], [MATKHAU], [CHUCVU]) VALUES (N'admin', N'QL01', N'admin', 1)
ALTER TABLE [dbo].[TBL_CTDV]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CTDV_TBL_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[TBL_DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[TBL_CTDV] CHECK CONSTRAINT [FK_TBL_CTDV_TBL_DICHVU]
GO
ALTER TABLE [dbo].[TBL_CTDV]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CTDV_TBL_DONDATPHONG] FOREIGN KEY([MADDP])
REFERENCES [dbo].[TBL_DONDATPHONG] ([MADDP])
GO
ALTER TABLE [dbo].[TBL_CTDV] CHECK CONSTRAINT [FK_TBL_CTDV_TBL_DONDATPHONG]
GO
ALTER TABLE [dbo].[TBL_DONDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DONDATPHONG_TBL_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[TBL_KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[TBL_DONDATPHONG] CHECK CONSTRAINT [FK_TBL_DONDATPHONG_TBL_KHACHHANG]
GO
ALTER TABLE [dbo].[TBL_DONDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DONDATPHONG_TBL_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[TBL_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TBL_DONDATPHONG] CHECK CONSTRAINT [FK_TBL_DONDATPHONG_TBL_NHANVIEN]
GO
ALTER TABLE [dbo].[TBL_DONDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DONDATPHONG_TBL_PHONG] FOREIGN KEY([SOPHONG])
REFERENCES [dbo].[TBL_PHONG] ([SOPHONG])
GO
ALTER TABLE [dbo].[TBL_DONDATPHONG] CHECK CONSTRAINT [FK_TBL_DONDATPHONG_TBL_PHONG]
GO
ALTER TABLE [dbo].[TBL_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HOADON_TBL_DONDATPHONG] FOREIGN KEY([MADDP])
REFERENCES [dbo].[TBL_DONDATPHONG] ([MADDP])
GO
ALTER TABLE [dbo].[TBL_HOADON] CHECK CONSTRAINT [FK_TBL_HOADON_TBL_DONDATPHONG]
GO
ALTER TABLE [dbo].[TBL_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HOADON_TBL_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[TBL_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TBL_HOADON] CHECK CONSTRAINT [FK_TBL_HOADON_TBL_NHANVIEN]
GO
ALTER TABLE [dbo].[TBL_KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_KHACHHANG_TB_LOAIKHACHHANG] FOREIGN KEY([MALK])
REFERENCES [dbo].[TB_LOAIKHACHHANG] ([MALK])
GO
ALTER TABLE [dbo].[TBL_KHACHHANG] CHECK CONSTRAINT [FK_TBL_KHACHHANG_TB_LOAIKHACHHANG]
GO
ALTER TABLE [dbo].[TBL_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NHANVIEN_TBL_LOAINHANVIEN] FOREIGN KEY([MALNV])
REFERENCES [dbo].[TBL_LOAINHANVIEN] ([MALNV])
GO
ALTER TABLE [dbo].[TBL_NHANVIEN] CHECK CONSTRAINT [FK_TBL_NHANVIEN_TBL_LOAINHANVIEN]
GO
ALTER TABLE [dbo].[TBL_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PHONG_TBL_LOAIPHONG] FOREIGN KEY([MALP])
REFERENCES [dbo].[TBL_LOAIPHONG] ([MALP])
GO
ALTER TABLE [dbo].[TBL_PHONG] CHECK CONSTRAINT [FK_TBL_PHONG_TBL_LOAIPHONG]
GO
ALTER TABLE [dbo].[TBL_TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TBL_TAIKHO__MANV__5CD6CB2B] FOREIGN KEY([MANV])
REFERENCES [dbo].[TBL_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TBL_TAIKHOAN] CHECK CONSTRAINT [FK__TBL_TAIKHO__MANV__5CD6CB2B]
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETELOAINHANVIEN]    Script Date: 7/22/2020 11:27:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DELETELOAINHANVIEN]
@MALNV CHAR(4)
AS
BEGIN
	DELETE FROM TBL_LOAINHANVIEN
	WHERE MALNV = @MALNV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETELOAIPHONG]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DELETELOAIPHONG]
@MALP CHAR(4)
AS
BEGIN
	DELETE FROM TBL_LOAIPHONG
	WHERE MALP = @MALP
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETENHANVIEN]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DELETENHANVIEN]
@MANV VARCHAR(4)
AS
BEGIN
	DELETE FROM TBL_NHANVIEN 
	WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETEROOM]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DELETEROOM]
@SOPHONG CHAR(4)
AS
BEGIN
	DELETE FROM TBL_PHONG 
	WHERE SOPHONG = @SOPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETCOSTROOM]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GETCOSTROOM]
as
Begin
	select TBL_PHONG.SOPHONG, TBL_PHONG.TINHTRANG, TBL_PHONG.MALP, TBL_LOAIPHONG.GIA
	from tbl_phong, tbl_Loaiphong
	where tbl_phong.malp = tbl_Loaiphong.malp
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GETKHACHHANG]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETKHACHHANG]
AS
BEGIN
	SELECT * FROM TBL_KHACHHANG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETKHACHHANG1]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETKHACHHANG1]
@MAKH char(4)
AS
BEGIN
	SELECT * FROM TBL_KHACHHANG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETKHACHHANGBYMAKH]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETKHACHHANGBYMAKH]
@MAKH char(4)
AS
BEGIN
	SELECT * FROM TBL_KHACHHANG WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETLOAINHANVIEN]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETLOAINHANVIEN]
AS
BEGIN
	SELECT * FROM TBL_LOAINHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETLOAIPHONG]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETLOAIPHONG]
AS
BEGIN
	SELECT * FROM TBL_LOAIPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETNHANVIEN]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETNHANVIEN]
@MANV char(4)
AS
BEGIN
	SELECT * FROM TBL_NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETNHANVIENBYMANV]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETNHANVIENBYMANV]
@MANV char(4)
AS
BEGIN
	SELECT * FROM TBL_NHANVIEN WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETROOM]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETROOM]
AS
BEGIN
	SELECT * FROM TBL_PHONG 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETROOMNUMBER]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETROOMNUMBER]
@SOPHONG char(4)
AS
BEGIN
	SELECT * FROM TBL_PHONG WHERE SOPHONG = @SOPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTHOADON]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_INSERTHOADON]
@MAHD VARCHAR(4),
@NGAYTHANHTOAN SMALLDATETIME,
@TRATRUOC MONEY,
@MANV VARCHAR(4)
AS
BEGIN
	SET NOCOUNT ON
	INSERT [dbo].[TBL_HOADON] ([MAHD], [NGAYTHANHTOAN], [TRATRUOC], [MANV]) 
	VALUES (@MAHD, @NGAYTHANHTOAN, @TRATRUOC, @MANV)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTLOAINHANVIEN]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_INSERTLOAINHANVIEN]
@MALNV VARCHAR(4),
@TENLNV NVARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON
	INSERT TBL_LOAINHANVIEN (MALNV, TENLNV) 
	VALUES (@MALNV, @TENLNV)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTLOAIPHONG]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_INSERTLOAIPHONG]
@MALP VARCHAR(4),
@TENLP NVARCHAR(20),
@TRANGTHIETBI NVARCHAR(10),
@GIA MONEY,
@DONVI VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON
	INSERT TBL_LOAIPHONG (MALP, TENLP, TRANGTHIETBI, GIA, DONVI) 
	VALUES (@MALP, @TENLP, @TRANGTHIETBI, @GIA, @DONVI)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTNHANVIEN]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_INSERTNHANVIEN]
@MANV VARCHAR(4),
@TENNV NVARCHAR(30),
@MALNV VARCHAR(4),
@NGSINH SMALLDATETIME,
@GIOITINH NVARCHAR(6),
@SDT CHAR(15),
@DIACHI NVARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON
	INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNV], [MALNV], [NGSINH], [GIOITINH], [SDT], [DIACHI]) 
	VALUES (@MANV, @TENNV, @MALNV, CAST(@NGSINH AS SmallDateTime), @GIOITINH, @SDT, @DIACHI)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTROOM]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_INSERTROOM]
@SOPHONG CHAR(4),
@TINHTRANG NVARCHAR(15),
@MALP VARCHAR(4)
AS
BEGIN
	SET NOCOUNT ON
	INSERT [dbo].[TBL_PHONG] ([SOPHONG], [TINHTRANG], [MALP]) 
	VALUES (@SOPHONG, @TINHTRANG, @MALP)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATECTHD]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATECTHD]
@MACTHD VARCHAR(4),
@MAKH VARCHAR(5),
@MANV VARCHAR(4),
@NGAYNHANPHONG SMALLDATETIME,
@NGAYDI SMALLDATETIME,
@SOPHONG CHAR(4),
@TRATRUOC MONEY,
@DONVI VARCHAR(10)
AS
BEGIN
	UPDATE TBL_CTHD
	SET	MAKH = @MAKH,
		MANV = @MANV,
		NGAYNHANPHONG = @NGAYNHANPHONG,
		NGAYDI = @NGAYDI,
		SOPHONG = @SOPHONG,
		TRATRUOC = @TRATRUOC,
		DONVI = @DONVI
	WHERE MACTHD = @MACTHD
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATELOAINHANVIEN]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATELOAINHANVIEN]
@MALNV VARCHAR(4),
@TENLNV NVARCHAR(30)
AS
BEGIN
	UPDATE TBL_LOAINHANVIEN
	SET TENLNV = @TENLNV
	WHERE MALNV = @MALNV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATELOAIPHONG]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATELOAIPHONG]
@MALP VARCHAR(4),
@TENLP NVARCHAR(20),
@TRANGTHIETBI NVARCHAR(10),
@GIA MONEY,
@DONVI VARCHAR(10)
AS
BEGIN
	UPDATE TBL_LOAIPHONG
	SET TENLP = @TENLP,
		TRANGTHIETBI = @TRANGTHIETBI,
		GIA = @GIA,
		DONVI = @DONVI
	WHERE MALP = @MALP
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATENHANVIEN]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATENHANVIEN]
@MANV VARCHAR(4),
@TENNV NVARCHAR(30),
@MALNV VARCHAR(4),
@NGSINH SMALLDATETIME,
@GIOITINH NVARCHAR(6),
@SDT CHAR(15),
@DIACHI NVARCHAR(30)
AS
BEGIN
	UPDATE TBL_NHANVIEN
	SET TENNV = @TENNV,
		MALNV = @MALNV,
		NGSINH = CAST(@NGSINH AS SMALLDATETIME),
		GIOITINH = @GIOITINH,
		SDT = @SDT,
		DIACHI = @DIACHI
	WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATEROOM]    Script Date: 7/22/2020 11:27:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATEROOM]
@SOPHONG CHAR(4),
@TINHTRANG NVARCHAR(15),
@MALP VARCHAR(4)
AS
BEGIN
	UPDATE TBL_PHONG
	SET TINHTRANG = @TINHTRANG,
		MALP = @MALP
	WHERE SOPHONG = @SOPHONG
END
GO
USE [master]
GO

CREATE PROC USP_GETDICHVU
AS
BEGIN
	SELECT * FROM TBL_DICHVU
END
GO

CREATE PROC USP_GETCTHD
as
begin
	select * from TBL_DONDATPHONG
end
go

CREATE PROC USP_CHUYENPHONG
@MADDP VARCHAR(5),
@SOPHONGOLD VARCHAR(5),
@SOPHONGNEW VARCHAR(5)
as
begin
	UPDATE TBL_DONDATPHONG SET SOPHONG = @SOPHONGNEW WHERE MADDP = @MADDP
	UPDATE TBL_PHONG SET TINHTRANG = 'EMPTY' WHERE SOPHONG = @SOPHONGOLD
	UPDATE TBL_PHONG SET TINHTRANG = 'USED' WHERE SOPHONG = @SOPHONGNEW
end
go

--tự tạo mã dịch vụ
CREATE FUNCTION AUTO_IDDV()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MADV) FROM TBL_DICHVU) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MADV, 3)) FROM TBL_DICHVU
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'DV00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'DV0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO

--tự tạo số phòng
CREATE FUNCTION AUTO_IDPHONG()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(SOPHONG) FROM TBL_PHONG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(SOPHONG, 3)) FROM TBL_PHONG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'SP00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'SP0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO

--tự tạo id loại phòng
CREATE FUNCTION AUTO_IDLOAIPHONG()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MALP) FROM TBL_LOAIPHONG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MALP, 3)) FROM TBL_LOAIPHONG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'LP00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'LP0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO

--tự tạo mã hóa đơn
CREATE FUNCTION AUTO_IDHD()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MAHD) FROM TBL_HOADON) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAHD, 3)) FROM TBL_HOADON
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HD00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HD0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO

--tự tạo mã chi tiết dịch vụ
CREATE FUNCTION AUTO_IDCTDV()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MACTDV) FROM TBL_CTDV) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MACTDV, 3)) FROM TBL_CTDV
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'CT00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'CT0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO

AUTO_IDCTDV

CREATE TABLE TBL_CTDV
(
	MACTDV varchar(5) primary key,
	MADDP varchar(5),
	MADV varchar(5)
)

CREATE PROC USP_INSERTHOADON
@MAHD varchar(5),
@MANV varchar(5),
@MADDP varchar(5),
@THANHTIEN varchar(20),
@TRANGTHAITHANHTOAN varchar(20)
AS
begin
	INSERT INTO TBL_HOADON (MAHD, MANV, MADDP, THANHTIEN, TRANGTHAITHANHTOAN) 
	VALUES (@MAHD, @MANV, @MADDP, @THANHTIEN, @TRANGTHAITHANHTOAN)
end
go

exec USP_INSERTHOADON 'HD001','QL01','DP001','150000','DEBT'
delete from TBL_HOADON where MAHD = 'HD001'

ALTER TABLE TBL_CTDV
ADD CONSTRAINT FK_CTDV_DICHVU
FOREIGN KEY (MADV)
REFERENCES TBL_DICHVU(MADV)

ALTER TABLE TBL_CTDV
ADD CONSTRAINT FK_CTDV_DDP
FOREIGN KEY (MADDP)
REFERENCES TBL_DONDATPHONG(MADDP)

DELETE FROM TBL_DONDATPHONG where MADDP = 'DP002'
DELETE FROM TBL_CTDV 
DELETE FROM TBL_KHACHHANG where MAKH = 'KH011'
UPDATE TBL_DONDATPHONG set TRANGTHAI = 'STAYED' where MADDP = 'DP003'

SELECT * FROM TBL_CTDV DV, TBL_HOADON HD, TBL_DONDATPHONG DP, TBL_DICHVU D
where DV.MADDP = DP.MADDP AND HD.MADDP = DP.MADDP AND DV.MADV = D.MADV
AND HD.TRANGTHAITHANHTOAN = 'DEBT' AND DP.TRANGTHAI = 'STAYED'

CREATE PROC USP_THANHTOAN
@MAHD varchar(5),
@SOPHONG varchar(5)
as
begin
	UPDATE TBL_HOADON set TRANGTHAITHANHTOAN = 'PAYED' where MAHD = @MAHD
	UPDATE TBL_PHONG set TINHTRANG = 'EMPTY' where SOPHONG = @SOPHONG
end
go